*{
    margin: 0;
    padding: 0;
}
header{
    z-index: 100000;
    width: 1080px;
    height: 135px;
    position: relative;
    left: 225px;
    border-radius: 20px;
    background-color: #2F0F25;
    top: -40px;
}
 header div{
    padding-top: 70px;
    display: flex;
    padding-left: 0;
    justify-content: space-around;
    align-items:center;
}
header div ul{
    list-style: none;
    display: flex;
    margin-left: 10px;
}
.home{
    text-decoration:underline;
    text-decoration-color: red;
    text-underline-offset: 6px;
    text-decoration-thickness: 1.3px;
}
header div ul li a{
    color: white;
    text-transform:uppercase;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
    font-size: 14px;
    margin-left:49px ;
}

header img{
    height: 15px;
}
body{
    background-image: linear-gradient(90deg, rgb(255, 177, 190) , rgb(86, 222, 240));
}
.img-header{
    width: 22px;
    height: 40px;
}
main{
    position: relative;
    top: -100px;
    margin-left: 180px;
}
.h11{
    display: flex;
    position: absolute;
    align-items: flex-end;
}
.h11 h1{
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    font-size: 290px;
    font-weight: 500;
    color: white;
    margin-left:50px;
    
}
.h12{
    position: absolute;
    top: 231.2px;
    margin-left:50px ;
    display: flex;
    align-items: flex-end;
}
.h12 h1{
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    font-size: 290px;
    color: #E50914;
 
}
.h122{
   position: absolute;
   left: 47vw;
}

.image{
    width: 38vw;
    z-index: 9;
    position: absolute;
    top: 60px;
    left: 280px;
}
.h112, .h121{
    z-index: 10;
}